body{
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    background-color: rgb(22, 21, 21);
    color: white;
    padding-left: 10px;
}
.summary{
    width: 200px;
    height: 300px;
    border-radius: 30px;
    background-color: rgb(65, 63, 63);
    text-align: center;
    padding-top: 10px;
}